<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LOGIN</title>
	<!-- <link rel="stylesheet" type="text/css" href="./public/css/style.css"> -->
</head>
<body>
	<div>
		<h1> Registration Form </h1>
	</div>	
	<div>
		<form method="post" action="/success">
			<div>
				<span>
					<label name="fname">Full Name :</label>
					<input type="text" name="fname" placeholder="Enter Full Name">
				</span>
			</div>

			<div>
				<span>
					<label name="uname">Username :</label>
					<input type="text" name="uname" placeholder="Enter Full Name">
				</span>
			</div>
			<div>
				<span>
					<label name="pass">Password :</label>
					<input type="password" name="pass" placeholder="Enter Password">
				</span>
			</div>
			<div>
				<span>
					<label name="address">ADDRESS :</label>
					<textarea name="address"></textarea>
				</span>
			</div>
			<input type="submit" id="btn-sub" >
		</form>
	</div>	
</body>
</html>